<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anthony.modulehome">

    <application>
        <activity
            android:name="com.anthony.modulehome.business.view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".business.view.MainActivity"/>-->

        <activity android:name="com.anthony.modulehome.business.view.TestActivity" />

    </application>
</manifest>
